AUTHORITY_URL: 'https://auth.papo-digital.net.br'
OPENID_CLIENT_URL: 'papo-digital-app'
OPENID_CLIENT_SECRET: 'blog-client'
OPENID_CLIENT_SCOPE: 'openid profile posts'
APPLICATION_URL: 'https://api.papo-digital.net.br'