body {
  height: 100%;
  overflow-x: hidden;
}

.full-width {
  width: 100%;
}

// PAGINATION
a:not([href]) {
  cursor: pointer;
}

a.fr-pagination__link:not([aria-current]):not([href]):not([disabled]) {
  color: inherit;
}

// TABS
.fr-tabs {
  &.tabs-light {
    margin: 0;
    padding: 0;
    box-shadow: none;

    &:before {
      box-shadow: none;
    }

    .fr-tabs__list {
      display: none;
    }

    .fr-tabs__panel {
      padding: 0;
    }
  }
}