body {
  height: 100%;
  overflow-x: hidden;
}

.full-width {
  width: 100%;
}

.divider {
  border-bottom: 1px solid var(--grey-925-125);
}

// PAGINATION
a:not([href]) {
  cursor: pointer;
}

a.fr-pagination__link:not([aria-current]):not([href]):not([disabled]) {
  color: inherit;
}

// TABS
.fr-tabs {
  &.tabs-light {
    margin: 0;
    padding: 0;
    box-shadow: none;
    overflow: visible;

    &:before {
      box-shadow: none;
    }

    .fr-tabs__list {
      display: none;
    }

    .fr-tabs__panel {
      padding: 0;
    }
  }
}

// SEARCH BAR
.fr-search-bar {
  &.show-label {
    flex-wrap: wrap;
    
    .fr-label {
      position: relative;
      width: 100%;
      height: initial;
    }
    
    .fr-input {
      margin-top: 0.5rem;
      flex: 1;
    }
    
    .fr-btn {
      margin-top: 0.5rem;
      flex: none;
    }
  }
}